<div class="container" align="center">
	<div class="logo">
		<img src="/assets/logo.png">
	</div>
	<div class="bbb-logo">
		<img src="/assets/bbb.png">
	</div>
	<div class="home-title">
		Need help with your Social Security disability claim?
		<br>
		Get your FREE, no-obligation evaluation now.
	</div>
	<div class="home-subtitle">
		All free evaluations are performed by an experienced social security disability advocate or attorney.
	</div>
	<div class="progress-bar">
		<img src="/assets/progress-1.png">
	</div>
	<div class="woman-pic">
		<img src="/assets/woman.png">
	</div>
	<div class="form-box">
		<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
			<span id="firstname">First Name:</span>
			<span class="required-star"><img src="/assets/required.gif"></span>
			<%= text_field_tag :first_name, nil, :placeholder => "First Name" %>
			<span class="checkimg" id="firstnamecheck"><img src="/assets/check.png"></span>
			<div class="message" id="firstname_error"></div>
			<br>
			<span id="lastname">Last Name:</span>
			<span class="required-star"><img src="/assets/required.gif"></span>
			<%= text_field_tag :last_name, nil, :placeholder => "Last Name" %>
			<span class="checkimg" id="lastnamecheck"><img src="/assets/check.png"></span>
			<div class="message" id="lastname_error"></div>
			<br>
			<span id="email">Email:</span>
			<span class="required-star2"><img src="/assets/required.gif"></span>
			<%= f.text_field :email, :placeholder => "bob@yahoo.com" %>
			<span class="checkimg" id="emailcheck"><img src="/assets/check.png"></span>
			<div class="message" id="email_error"></div>
			<br>
			<span id="phone">Phone:</span>
			<span class="required-star3"><img src="/assets/required.gif"></span>
			<%= f.text_field :phone, :placeholder => "215-444-3344" %>
			<span class="checkimg" id="phonecheck"><img src="/assets/check.png"></span>
			<div class="message" id="phone_error"></div>
			<br>
			<span id="zipcode">Zipcode:</span>
			<span class="required-star4"><img src="/assets/required.gif"></span>
			<%= f.text_field :zipcode, placeholder: "Zipcode" %>
			<span class="checkimg" id="zipcheck"><img src="/assets/check.png"></span>
			<div class="message" id="zip_error"></div>
			<br>
			<div id="consent">
				<%= f.check_box :consent, {:checked => true}, "Yes", "No" %>
				I agree to be contacted by phone or email according to these terms
			</div>
			<div class="message" id="consent_error"></div>
			<div id="newsubmit1"></div>
			<%= f.submit "Do I Qualify?", :class => "home-submit", :id => "submit1" %>
		<% end %>
	</div>
	<div class="arrow">
		<img src="/assets/arrow.png">
	</div>
</div>
<div class="container" align="center">
	<div class="logos-box">
		<hr>
		<img src="/assets/logos.png">
	</div>
	<div class="disclaimer">
		<div class="privacy">
			<a href="/privacy"> Privacy Policy</a> | 
			<a href="/about_us"> About Us </a> | 
			<a href="/fees"> Fees </a>

		</div>
		Attorney Advertisement – The information that you provide on this website is sent to a participating attorney or advocate solely on the basis of the zip code that you provide and not by any other means of evaluation.  These participating attorneys and advocates pay a fee to be part of this website and receive inquiries solely based upon the geographic regions that they choose to service.  The information that you provide on this website is used by the attorney or advocate to make a preliminary evaluation of your claim.  Not until an attorney or advocate has spoken to you on the telephone can a complete evaluation be made as to your potential eligibility for disability benefits. The ultimate determination as to the eligibility of disability benefits will be made by the Social Security Administration. NJ residents only: please <a href="/nj">click here</a> to view a list of attorneys who are responsible for advertisement to prospective clients in the state of New Jersey.
	</div>
</div>
<%= render partial: "users/form2" %>
<script type="text/javascript">
	$('input#user_phone').blur(function(event){
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 0 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 1) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter a valid phone number");
			$('#phonecheck img').hide();
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length == 10 && $('input#user_phone').val().replace(/\D+/g,'')[0] != 0 && $('input#user_phone').val().replace(/\D+/g,'')[0] != 1) {
			$('#phone_error').empty();
			$('#phonecheck img').show();
		}
	});

	$('input#user_email').blur(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
			$('#emailcheck img').hide();
		}
		if (email_format.test($('input#user_email').val())) {
			$('#email_error').empty();
			$('#emailcheck img').show();
		}
	});
	$('input#first_name').blur(function(event){
		if ($('input#first_name').val().length < 2) {
			event.preventDefault();
			$('#firstname_error').empty().append("Please enter your first name");
			$('#firstnamecheck img').hide();
		}
		if ($('input#first_name').val().length > 0) {
			$('#firstname_error').empty();
			$('#firstnamecheck img').show();
		}
	});
	$('input#last_name').blur(function(event){
		if ($('input#last_name').val().length < 2) {
			event.preventDefault();
			$('#lastname_error').empty().append("Please enter your last name");
			$('#lastnamecheck img').hide();
		}
		if ($('input#last_name').val().length > 0) {
			$('#lastname_error').empty();
			$('#lastnamecheck img').show();
		}
	});
	$("#user_consent").change(function(){
		if ($("#user_consent").is(':checked') == false) {		
			$('#consent_error').empty().append("Please click the checkbox to consent");
		}
		else {
			$('#consent_error').empty();
		}
	});
	$('input#user_zipcode').blur(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
					if (response == "yes") {
						$('#zip_error').empty();
						$('#zipcheck img').show();
					}
				  }
			});
	});
	$('#submit1').click(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
			$('#emailcheck img').hide();
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 0 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 1) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter your phone number");
			$('#phonecheck img').hide();
		}
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
				  }
		});
		if ($('input#first_name').val().length < 2) {
			event.preventDefault();
			$('#firstname_error').empty().append("Please enter your first name");
			$('#firstnamecheck img').hide();
		}
		if ($('input#last_name').val().length < 2) {
			event.preventDefault();
			$('#lastname_error').empty().append("Please enter your last name");
			$('#lastnamecheck img').hide();
		}
		if ($("#user_consent").is(':checked') == false) {
			event.preventDefault();
			$('#consent_error').empty().append("Please click the checkbox to consent");
		}
	});
</script>
<script type="text/javascript">
(function() {
    var field = 'xxTrustedFormCertUrl';
    var provideReferrer = false;
    var tf = document.createElement('script');
    tf.type = 'text/javascript'; tf.async = true; 
    tf.src = 'http' + ('https:' == document.location.protocol ? 's' : '') +
    '://api.trustedform.com/trustedform.js?provide_referrer=' + escape(provideReferrer) + '&field=' + escape(field) + '&l='+new Date().getTime()+Math.random();
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tf, s); }
)();
</script>
<noscript>
    <img src="http://api.trustedform.com/ns.gif" />
</noscript>